.login-auth-page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-color);
  color: var(--black-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.login-auth-page .login-auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-auth-page .login-social-zone {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  width: 100%;
}

.login-auth-page .social-btn {
  border: 0;
  padding: .5rem 2rem;
  width: 100%;
  font-size: var(--font-size-2);
  border-radius: var(--border-radius-2);
  box-shadow: var(--shadow-1);
  border: solid 1px var(--light-color);
  background-color: var(--light-color);
  font-weight: 600;
}

.login-auth-page .login-social-zone .social-btn.btn-fb {
  background-color: #3A61B3;
  color: var(--light-color);
}

.login-auth-page .login-social-zone .social-btn.btn-apple {
  background-color: #1a1a1a;
  color: var(--light-color);
}

.login-auth-page .separator {
  width: 100%;
  margin: 2rem 0;
  border-bottom: solid 1px var(--dark-color);
  opacity: .2;
}

.login-auth-page .login-auth-form {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

.login-auth-page .login-auth-form .form-group {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 12px;
}

.login-auth-page .login-auth-form .form-group input {
  border: solid 1px #e7e7e7;
  border-radius: var(--border-radius-1);
  height: 30px;
  padding: .25rem .5rem;
  font-size: 90%;
}

.login-auth-page .login-auth-form label {
  padding-bottom: .35rem;
  font-weight: 600;
  display: inline-block;
  margin: 0;
}

.login-auth-page .login-auth-form .form-steps {
  padding: .5rem 0;
}

.login-auth-page .login-auth-form .form-steps .link {
  color: var(--dark-color);
  font-size: 85%;
  font-weight: 500;
}

.login-auth-page .login-auth-form .form-steps .link:hover {
  text-decoration: underline;
}

.login-auth-page .login-auth-form .form-action .login {
  color: var(--light-color);
  margin: 1rem 0;
  background-color: var(--primary-color);
}

input.ng-invalid.ng-touched {
  border: solid 2px red !important
}

.login-error{
  color: #f44336;
  background-color: #ffcfcc;
  padding: 8px;
  font-size: 0.875rem;
  border: 1px solid #f44336;
  border-left: 9px solid #f44336;
  opacity: 0.83;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  border-radius: 6px;
}
