.section--generic {
  --min-column-width: 270px;
  --column-gap: 24px;
  --row-gap: 12px;
  --item-height: 64px;
  margin-bottom: 2rem;
}

.section--generic__player--zone .player--list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-gap: var(--row-gap) var(--column-gap);
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.card-big > li:nth-last-child(-n+1) {
  margin-bottom: 5rem;
}
